* {
  box-sizing: border-box;
  line-height: 150%;
  /*background: rgba(0,0,0,0.1);*/
}

body{
  background: #00334b;
  color:white;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

h1 {
  text-align: center;
}
.task_list{
  margin:5px 0;
}
.task-item{
  background: white;
  color:#333;
  margin-bottom:2px;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  cursor:pointer;
  transition: background .1s;
}
.task-item:hover{
  background:#ddd;
}
input[type="text"], input[type="date"]{
  width: 100%;
  display: block;
  background:white;
  border:0;
}
input, .task-item, button{
  padding: 10px;
  border-radius:3px;
}
button{
  display: inline-block;
  border:0;
  cursor:pointer;
}
.add-task input[type='text']{
  float:left;
  width: 84%;
  margin-right:1%;
}
.add-task [type='submit']{
  width: 15%;
  background: #387e9e;
}
.task-detail{
  display: none;
  width: 100%;
  position: absolute;
  top:0;
  background: #fff;
  right:0;
  padding:10px;
  z-index: 9;
}
.task-detail .content{
  color:#000;
}
.task-detail .desc textarea{
  margin-top:16px;
  width: 100%;
  height:200px;
  background: rgba(0, 0, 0, 0.3);
}
.task-detail .remind input[type="date"]{
  margin-top:16px;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 16px;
}
.task-detail-mask{
  display: none;
  position: absolute;
  top:0;
  bottom:0;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height:100%;
}
.task-content{
  margin-left:5px;
}
.fr{
  float: right;
}
.action{
  font-size: 12px;
  color:#999;
}
.action:hover{
  color:#888;
}
